<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/styleGrid.css">
</head>
<body>
    <div class = "Navbar">
        <div class = "NavSlogan">
            面試官眼睛為之一亮,是青光眼
        </div>
        <div class = "NavItem">
            <div class = "HamburgerIcon">
                <img  src="./icon.png">
            </div>
            <div class = "Item">
                Item1
            </div>
            <div class = "Item">
                Item2
            </div>
            <div class = "Item">
                Item3
            </div>
            <div class = "Item">
                Item4
            </div>
        </div>
    </div>
    <div class = "Carousel">   
            顏色越豐富,人生越精彩
            彩度越高,眼壓越高
            視力問題請洽宮原眼科
    </div>
    <div class = "Container">
        <div class = "Content">

            <div class = "Top-1">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Context">我超胖我占用2個位</div>
            </div>
            <div class = "Top-2">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Context">我超胖我占用2個位</div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第1位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第2位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第3位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第4位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第5位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第6位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第7位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第8位
                </div>
            </div>

            <div class = "Card">
                <div class = "ImgWrapper">
                    <img  src="https://fakeimg.pl/350x200/ff0000/000">
                </div>
                <div class = "Title">
                    我是第9位
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>