<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span style="margin:auto;font-size:60px" class="navbar-brand mb-0 h1">失敗頁面</span>
        </div>
    </nav>
    <div class="container">
        <div style="margin:100px 0px 15px 0px" class="d-flex justify-content-center">
            <h1><span id="message">你好失敗</span></h1>
        </div> 
    </div>
    <script>
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        document.querySelector("#message").innerHTML = getParameterByName('message');
    </script>
</body>
</html>