<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span style="margin:auto;font-size:60px" class="navbar-brand mb-0 h1">歡迎光臨，請輸入帳號密碼</span>
        </div>
    </nav>
    <div class="container">
        <div style="margin:100px 0px 15px 0px" class="d-flex justify-content-center">
            <h1><span>登入系統</span></h1>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <form id="form">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">帳號</label>
                        <input name="account" type="account" class="form-control" id="exampleInputEmail1" >
                        <div id="emailHelp" class="form-text">我們一定會洩漏你的帳號密碼</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">密碼</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="script/formData.js"></script>
</body>
</html>