<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span style="margin:auto;font-size:60px" class="navbar-brand mb-0 h1">正整數平方計算結果</span>
        </div>
    </nav>
    <div class="container">
        <div style="margin:100px 0px 15px 0px" class="d-flex justify-content-center">
            <h1><span id="message"></span></h1>
        </div> 
    </div>
    <script>
        let num = parseInt(window.location.href.match(/\d*$/));
        function isPositiveInteger(s){
            const re = /^[0-9]+$/ ;
            return re.test(s)
        }
        if(num === NaN){
            document.querySelector("#message").innerHTML = "這不是數字不要唬爛我";
        }else if (isPositiveInteger(num)){
            document.querySelector("#message").innerHTML = num**2;
        }
    </script>
</body>
</html>